@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@300;400&display=swap');

.ListGroup{
    display: flex;
    padding: 100px 200px 100px 200px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

p{
    font-family: 'roboto';
    margin-top: 50px;
}