.form__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 500px;
    margin-top: 40px;
}